// COLOR VARIABLES
$color-primary-gray: #4e4e4e;
$color-primary-gray-2 : #666;
$color-white: #fff;

// FONT VARIABLES
$font-primary: 'Noto Serif', serif;


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {  
  box-sizing: border-box;
  font-size: 62.5%; 
  font-weight: 300;
  line-height: 1.6;


  font-family: $font-primary;
}