// COLOR VARIABLES
$color-primary-gray: #4e4e4e;
$color-primary-gray-2 : #666;
$color-primary-gray-5 : #e4e4e4;
$color-primary-gray-6 : #f9f9f9;;
$color-white: #fff;
$color-black: #000;
$color-gold: #FFD700;

// FONT VARIABLES
$font-primary: nanumMyeonjo;
$font-secondary: 'Noto Serif', serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {  
  box-sizing: border-box;
  font-size: 62.5% !important;
  position: inherit;

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  font-family: $font-primary, $font-secondary !important;
  max-width: 60rem;
}