
.contact {
  //height: max-content;
  width: 100%;
  padding: 2rem;
  padding-bottom: 4rem;


  @media only screen and (min-width: $bp-medium) {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
  }

  &__content {
    border-radius: 5px;
    color: $color-primary-gray;
    width: 100%;
    text-align: center;
    font-size: 2rem;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, min-content);
    grid-gap: 1.5rem;
    justify-items: center;
    
    
    &-grid-1 {
      grid-column: 1;
      grid-row: 1;
      display: flex;
      flex-direction: column;

      & span {
        font-size: 8px;
      }
    }
    &-grid-2 {
      grid-column: 2;
      grid-row: 1;

      display: flex;
      flex-direction: column;

      & span {
        font-size: 8px;
      }
    }

    &-grid-3 {
      grid-column: 1;
      grid-row: 3;

      display: flex;
      align-items: center;
      & span {
        font-size: 8px;
      }
    }
    &-grid-4 {
      grid-column: 1;
      grid-row: 4;

      display: flex;
      align-items: center;
      & span {
        font-size: 8px;
      }
    }

    &-grid-5 {
      grid-column: 2;
      grid-row: 3;

      display: flex;
      align-items: center;
      & span {
        font-size: 8px;
      }
    }

    &-grid-6 {
      grid-column: 2;
      grid-row: 4;

      display: flex;
      align-items: center;
      
      & span {
        font-size: 8px;
      }
    }

    &-grid-7 {
      grid-column: 1;
      grid-row: 2;
    }

    &-grid-8 {
      grid-column: 2;
      grid-row: 2;
    }

    &-line::before {
      content: "";
      width: 1px;
      height: 4rem;
      background-color: $color-primary-gray-2;
      display: inline-block;
    }
    &-icon {
      width: 3rem;
      height: 4rem;
      margin: 0.5rem;
      padding-top: 0.5rem;
    }
    &-iconCircle {
      width: 4rem;
      height: 4rem;
      margin: 1rem;
      padding: 1rem;
      border-radius: 2rem;
    }
  }
  &-name {
    font-size: 2rem !important;
  }
}

.btn__contact {
  width: 50vw; 
  height: 5rem;
  font-size: 1.5rem;
  color: #FFFFF8;
  border-radius: 10rem;
  background-color: $color-primary-gray;
  margin-bottom: 1.5rem;
  margin-top: 5rem;
  text-decoration: none;
  border: none;
  box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, .2);

  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.popup__content {
  padding: 1rem;
  padding-bottom: 3rem;
  border-radius: 2rem;
  box-shadow: 1px 1px 4px rgba(0,0,0,.2);
  background-color: #FFFFF8;

  display: grid;  
  grid-template-columns: 4rem max-content 4rem;
  grid-template-rows: repeat(2, 6rem) 3rem;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: nanumGothic;
  

  &-leaf-1 {
    grid-column: 1;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  &-groom {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    grid-column: 2;
    grid-row: 1;
  }
  
  &-bride {
    margin-top: 2nprem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    grid-column: 2;
    grid-row: 2;
  }
  
  &-copy {
    grid-column: 2;
    grid-row: 3;
    font-size: 1rem;
    text-align: center;
    margin-top: 3rem;
    color: red
  }

  &-leaf-2 {
    grid-column: 3;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &-btn {
    border:none;
    background-color: #FFFFF8;
  }
  &-title{
    font-weight: bold;
    margin-bottom: 1px;
  }
}
.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
.popup-arrow {
  visibility: hidden !important;
}

