.gallery {
  position: relative;
  width: 100vw;
  height: max-content;
  padding: 2rem;
  background-color: $color-primary-gray-5;

  &__photo {
    margin-top: 10rem;
  }
}

.Gallery {
  background-color: $color-white;
  padding: 3rem;
  margin-bottom: 3rem;
  &-photo {
    width: 100%;
    display: inline-block;
    align-items:center;
    &-ver {
      transform: translateY(50%);
    }
  }
}

.ant-carousel .slick-prev, .ant-carousel .slick-next {
  fill:violet !important;
  z-index: 10 !important;
}
.ant-carousel .slick-prev {
  left: 8px !important;
}

.ant-carousel .slick-next {
  right: 8px !important;
}

.slick-prev:before,
.slick-next:before {
  margin-top:0px;
}

