.gallery {
  position: relative;
  width: 100vw;
  //height: max-content;
  padding: 2rem;
  background-color: $color-primary-gray-5;

  &__photo {
    margin-top: 10rem;
  }
}

.Gallery {
  background-color: $color-white;
  padding: 3rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  &-photo {
    width: 100%;
    display: inline-block;
    align-items:center;
    &-ver {
      transform: translateY(50%);
    }
  }

  &-nav{
	  width: 10rem;
    height: 10rem;
    object-fit: cover;
  }
}

.slick-prev{
  left: 0px !important;
  color: black;
  z-index: 10 !important;
  top: 50%;
}

.slick-next {
  right: 0px !important;
  color: black;
  z-index: 10 !important;
  top: 50%;
}

.slick-list {
  padding-left: 0px;
}