.header {
  @media only screen and (min-width: $bp-medium) {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.Main-photo{
  height: 75rem;
  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  text-align:center;

  &__wrap {
    position: relative;
  }

  &__text {
    text-align: center;
    position: absolute;
    top:5%;
    left: 50%;
    transform: translateX(-50%);

    h1{
      color: $color-primary-gray-2;
      font-size: 1.8rem;
    }

    h2{
      color: $color-primary-gray-2;
      font-size: 1.2rem;
      text-shadow: 1px 1px 2px rgba(0,0,0,.1);
    }

    span::before{
      content: "";
      width: 1px;
      height: 5rem;
      background-color: $color-primary-gray-2;
      display: inline-block;
      margin: 1rem;
    }
  }  
  &__sub {
    color: #999;
    font-size: 8px;
    text-align: center;
    letter-spacing: 4px;
    padding: 0;
    margin: 0;
    background-color: $color-primary-gray-6;
  }
}

.Main-text {
    //height: min-content;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-items: flex-end;
    font-weight: 300;
    padding: 2rem;
    border-radius: 2px;
    padding-bottom: 4rem;
    background-color: $color-primary-gray-6;

    &__name {
      text-align: center;
      font-size: 2.2rem;
      margin-top: 1rem;
      margin-bottom: 0.8rem;   
      font-weight:550;

      span {
        font-size: 1.4rem;
      }
    }
  
    &__sub{
      text-align: center;
      letter-spacing: 2px;
      font-size: 1.2rem;
      margin-bottom: 2px;   
    }
  }
