.Main-photo{
  
  height: 90vh;
  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  text-align:center;

  &__text {
    text-align: center;
    position: absolute;
    top:6%;
    left: 50%;
    transform: translateX(-50%);

    h1{
      color: $color-primary-gray;
      font-size: 1.8rem;
    }

    h2{
      color: $color-white;
      font-size: 1.2rem;
      text-shadow: 1px 1px 2px rgba(0,0,0,.2);
    }

    span::before{
      content: "";
      width: 1px;
      height: 5rem;
      background-color: $color-primary-gray-2;
      display: inline-block;
      margin: 1rem;
    }
  }  
  &__sub {
    color: #999;
    font-size: 8px;
    text-align: center;
    letter-spacing: 4px;
    padding: 0;
    margin: 0;

  }
}

.Main-text {
    height: min-content;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-items: flex-end;
    font-weight: 300;
    padding: 2rem;
    border-radius: 2px;
    margin-bottom: 4rem;

    &__name {
      text-align: center;
      font-size: 2rem;
      margin-top: 1rem;
      margin-bottom: 0.8rem;   
      font-weight: 500;

      span {
        font-size: 1.4rem;
      }
    }
  
    &__sub{
      text-align: center;
      letter-spacing: 2px;
      font-size: 1.2rem;
      margin-bottom: 2px;   
    }
  }
