.map {
  padding: 2rem;
  width: 100%;
  height: max-content;

  &-icon {
    /*width: 48px;*/
    width: 3rem;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}


.title{
  flex-direction: column;
  text-align: center;
  //font-family: YesevaOne;
  font-size:400%;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.map-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  //font-family: BMJUAOTF;
  font-size: 140%;
  margin-bottom: 2rem;
}

.map-info {
  //font-family: BMJUAOTF;
  font-size: 120%;
  margin-bottom: 2rem;
  display:block;
}

.col-md-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}