.popup__content-add {
    border: 1px;
    border-bottom-color: black;
}

.congrats__message-del{
    width: 50vw;
    height: 5rem;
    font-size: 1.5rem;
    color: #fff;
    border-radius: 10rem;
    background-color: $color-primary-gray;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
    text-decoration: none;
    border: none;
    box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, .2);

    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.congrats__message-popup{
    background-color: #fff;
    padding: 3rem;
    border-radius: 2rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    display: grid;
}