.congrats {
    padding: 2rem;
  background-color: $color-primary-gray-5;

    &__message-add{
        border: 1px;
        border-bottom-color: black;
        border-radius: 5px;
        padding: 1rem;
        padding-top: 2rem;
        
        &__button{
            margin-top: 1rem;
            border: none;
            color: white;
            background-color: #f2cc00;
            width: 100%;
            padding: 1rem;
            border-radius: 100rem;
        }
    }

    &__input {
        width: 100%;
        border: none;
        padding: 1rem;
        border-radius: 3px;

        &:focus {
            outline: none;
            box-shadow: 0 0.5rem 1rem rgba($color-black, .1);
            border-bottom: 3px solid $color-gold;
          }
          
          &:focus:invalid {
            outline: none;
            box-shadow: 0 0.5rem 1rem rgba($color-black, .1);
            border-bottom: 3px solid $color-gold;  
          }
      
          &::-webkit-input-placeholder {
            color: $color-primary-gray-5
          }
    }
    &__label {    
        font-size: 1rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        margin-bottom: 1rem;
        display: block;
        transition: all .3s;
    }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-1rem);
  } 
}



.congrats__message-del{
    border: none;
    background-color: black;
    color: white;
    display: block;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    float: right;
    padding: .3rem;
}

.congrats__message-popup{
    background-color: #fff;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    position: fixed;

    &-password {
        margin-top: .5rem;
        padding: .5rem;
        border: none;
        border-radius: .3rem;
        display: block;
        width: 100%;
    }
    &-password::placeholder{
        text-align: center;
    }
    
    &-btn {
        margin-top: .5rem;
        padding: .5rem;
        color: white;
        border: none;
        border-radius: .3rem;
        background-color: $color-gold;
        display: block;
        text-align: center;
        width: 100%;
    }
}

.popupcss{
    display:none;
}

.congrats__message-list{
    margin-top: 0;
    margin-bottom: 0;
    padding: .5rem;
    padding-bottom: 1.5rem;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-bottom: 1px #4e4e4e solid;
    height: min-content;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 300;
    margin: 2rem;
    font-family: nanumGothic !important;
    
    &__name{
        font-weight: bold;
        font-size: 1.6rem;
        margin-bottom: 0.8rem;
        float: left;
    }

    &__date{
        margin-top: 0.5rem;
        float: right;
        vertical-align: text-bottom;
        color: $color-primary-gray-2;
        font-size: 1.3rem;
    }

    &__content{
        font-size: 1.6rem;
        float: left;
    }
}

.display-None{
    display : none;
}

.display-Blck {
    display: block;
    transition: all 2s ease-in-out;
}