.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.head {
  font-size: 3rem;
  letter-spacing: 1rem;
  line-height: 4rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
  text-transform: uppercase;
  position: relative;

  &__line::before {
    content: "";
    width: 10rem;
    height: .15rem;
    background-color: $color-primary-gray-2;
    display: inline-block;
    margin: 2.5rem;
    position: absolute;
    transform: rotate(45deg);
    top: 1.5rem;
    right: 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*

@font-face {
  font-family: fight;
  src: url("./font/힘내라는 말보단.ttf");
}

@font-face {
  font-family: nanumMyeonjo;
  src: url("./font/NanumMyeongjo.otf");
}

@font-face {
  font-family: 'Noto Serif', serif;
  src: url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
}

@font-face {
  font-family: Shadows;
  src: url("./font/ShadowsIntoLight-Regular.ttf");
}

@font-face {
  font-family: Pacifico;
  src: url("./font/Pacifico-Regular.ttf");
}

@font-face{
  font-family: AmaticSC;
  src: url("./font/AmaticSC-Regular.ttf");
}

@font-face{
  font-family: YesevaOne;
  src: url("./font/YesevaOne-Regular.ttf");
}
*/