@import "base";

@import "header";
@import "gallery";
@import "contact";
@import "calendar";
@import "greeting";
@import "map";
@import "typography";
@import "message";
@import "futter";



.cover-container {
  max-width: 42em;
}

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}


@keyframes fall {
  0% {
    opacity: 0;
  }
  3% {
    opacity: 0.9;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    transform: translate(0, 70px);
    opacity: 0;
  }
}