.Main-photo {
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    text-align:center;
}
  
.Main-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: fight;
    font-size: 200%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.Self-photo-right {
    margin-left : 5%;
    margin-right: 2.5%;
    width : 42.5%;
    align-items: center;
}
.Self-photo-left {
    margin-right: 5%;
    margin-left: 2.5%;
    width : 42.5%;
    align-items: center;
}

.background-lightgray {
    background-color: lightgray;
}

.Main-photo-text {
    letter-spacing : -0.13em;
    margin-right: 0.5em;
    margin-top: 0.5em;
    text-align: right;
    font-size: 1.2rem;
    position: absolute;
    top:1%;
    left:85%;
}


.snow-container{
    display: flex;
    justify-content: space-between;
  }
  .snow-flake {
    color: coral;
    animation: fall 3.5s linear infinite;
  }

  @keyframes fall {
    0% {
      opacity: 0;
    }
    3% {
      opacity: 0.9;
    }
    90% {
      opacity: 0.9;
    }
    100% {
      transform: translate(0, 70px);
      opacity: 0;
    }
  }