html {
    box-sizing: border-box;
    font-size: 62.5%; 
}
* {
    margin: 0;
    padding: 0;
}
    
.Main-photo {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    text-align:center;
    
}
@media only screen and (min-width: 56.25em) {
    .Main-photo {
        height: 80vh;
        
     } }

.Main-photo-text {
    letter-spacing : -0.13em;
    margin-right: 0.5em;
    margin-top: 0.5em;
    text-align: right;
    font-size: 2.3rem;
    position: absolute;
    top:1%;
    right:6%;
    color: #fff
}

.Main-text-group {
    height: 30vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
}
@media only screen and (min-width: 56.25em) {
    .Main-text-group {
      height: 20vh; } }

.Main-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: nanumMyeonjo;
    font-size: 2rem;
    margin-bottom: 2px;   
}

.Main-text-name {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: fight;
    font-size: 2.5rem;
    margin-bottom: 2rem;   
}


.Self-photo-right {
    margin-left : 5%;
    margin-right: 2.5%;
    width : 42.5%;
    align-items: center;
}
.Self-photo-left {
    margin-right: 5%;
    margin-left: 2.5%;
    width : 42.5%;
    align-items: center;
}

.greeting {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 1.7rem;
    text-align: center;
    color: #4e4e4e;
}
@media only screen and (min-width: 56.25em) {
    .greeting {
        padding: 6rem;; } }


.bg-video {
    position: absolute;
    opacity: 0.2;
    z-index: -2;
}
.bg-video__content {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.greeting-main {
    font-size: 1.8rem;
    margin-bottom: 3.5rem;
    color: #626262;
}

.greeting-message-head {
    font-size: 3.5rem;
    margin-bottom: 3rem;
    font-weight: bold;
}

.greeting-message-body {
    font-size: 1.8rem;
    margin-bottom: 3.5rem;
    font-weight: bold;
}

.greeting-span::before {
    content: "";
    width: 10rem;
    height: .3rem;
    background-color: #fff;
    display: inline-block;
    margin-bottom: 3.5rem;
}

.greeting-parent {
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-bottom: 3.5rem;
}

.greeting-parent span {
    font-size: 1.5rem;
}

.btn--contact {
    display: inline-block;
    width: 70vw;
    height: 4rem;
    font-size: 1.3rem;
    color: #4e4e4e;
    font-weight: bold;
    border-radius: 1.5rem;
    background-color: #fff;
    margin-bottom: 1.5rem;
    text-decoration: none;
}
@media only screen and (min-width: 56.25em) {
    .btn--contact:visited {
        width: 30rem;
        margin-bottom: 0rem;} }

.popup--1 {
    visibility: hidden;
}

.popup--1:target {
    visibility: visible;
}

.Gallery-photo {
    width: 100%;
    align-items:center;
}

.slick-prev:before,
.slick-next:before {
    color: black!important;;
}

.map-icon {
    /*width: 48px;*/
    width: 5%;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.map-center {
    align-items: center;
    text-align: center;
}

.title{
    flex-direction: column;
    text-align: center;
    font-family: YesevaOne;
    font-size:400%;
    margin-top: 5rem;
    margin-bottom: 2rem;
}
.map-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: BMJUAOTF;
    font-size: 140%;
    margin-bottom: 2rem;
}

.map-info {
    font-family: BMJUAOTF;
    font-size: 120%;
    margin-bottom: 2rem;
    display:block;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.cover-container {
    max-width: 42em;
}

.text-justify {
    text-align: justify !important;
}

.text-nowrap {
    white-space: nowrap !important;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.section5 {
    background-color: #f9f9f9;
}

.section5-title {
    margin-top: 1em;
    color: #333;
    text-shadow: none;
}

.section5-main {
    line-height: 1.5em;
/*    font-size: 2rem;*/
    font-size: 400%
}

.section5-sub {
    font-family: fight;
    line-height: 1.5em;
    font-size: 1.3rem;
}

.section5-table {
    font-family: fight;
    line-height: 1.5em;
    font-size: 2rem;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.section5-table tr .sun{
    color: red;
}

.section5-table tr .check{
    color: white;
    background-color: chocolate;
    border-radius: 50px;
}

.snow-container{
    display: flex;
    justify-content: space-between;
  }
  .snow-flake {
    color: coral;
    animation: fall 3.5s linear infinite;
  }

  @keyframes fall {
    0% {
      opacity: 0;
    }
    3% {
      opacity: 0.9;
    }
    90% {
      opacity: 0.9;
    }
    100% {
      transform: translate(0, 70px);
      opacity: 0;
    }
  }